pre {
  font-family: "Times New Roman", Times, serif;
}
p {
  font-family: "Times New Roman", Times, serif;
}
h1 {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}
h3 {
  font-family: "Times New Roman", Times, serif;
}
b {
  font-family: "Times New Roman", Times, serif;
}
table,
th,
td {
  border: 3px solid black;
  border-collapse: collapse;
  width: 1%;
  padding: 8px;
  text-align: left;
}
